.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store

applicationinsights-agent-*.jar
*.log
/infrastructure/build
/assets/*.jar
/eclipse-storage-*
/assets/*
/aws/build/libs/aws-0.0.1.jar
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.lambda.BaseTaskHandlerTest.html
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.lambda.CreateTaskHandlerTest.html
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.lambda.DeleteTaskHandlerTest.html
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.lambda.RetrieveTaskHandlerTest.html
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.lambda.RootTaskHandlerTest.html
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.lambda.UpdateTaskHandlerTest.html
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.MapperTest.html
/aws/build/reports/tests/test/css/base-style.css
/aws/build/reports/tests/test/css/style.css
/aws/build/reports/tests/test/js/report.js
/aws/build/reports/tests/test/packages/uk.co.frankz.hmcts.dts.aws.html
/aws/build/reports/tests/test/packages/uk.co.frankz.hmcts.dts.aws.lambda.html
/aws/build/reports/tests/test/index.html
/aws/build/test-results/test/binary/output.bin
/aws/build/test-results/test/binary/output.bin.idx
/aws/build/test-results/test/binary/results.bin
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.lambda.BaseTaskHandlerTest.xml
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.lambda.CreateTaskHandlerTest.xml
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.lambda.DeleteTaskHandlerTest.xml
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.lambda.RetrieveTaskHandlerTest.xml
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.lambda.RootTaskHandlerTest.xml
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.lambda.UpdateTaskHandlerTest.xml
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.MapperTest.xml
/aws/build/tmp/compileJava/previous-compilation-data.bin
/aws/build/tmp/compileTestJava/previous-compilation-data.bin
/aws/build/tmp/jar/MANIFEST.MF
/aws/build/tmp/shadowJar/MANIFEST.MF
/common/build/libs/common.jar
/common/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.dto.MapperTest.html
/common/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.model.StatusTest.html
/common/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.model.TaskTest.html
/common/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.service.TaskServiceTest.html
/common/build/reports/tests/test/css/base-style.css
/common/build/reports/tests/test/css/style.css
/common/build/reports/tests/test/js/report.js
/common/build/reports/tests/test/packages/uk.co.frankz.hmcts.dts.dto.html
/common/build/reports/tests/test/packages/uk.co.frankz.hmcts.dts.model.html
/common/build/reports/tests/test/packages/uk.co.frankz.hmcts.dts.service.html
/common/build/reports/tests/test/index.html
/common/build/test-results/test/binary/output.bin
/common/build/test-results/test/binary/output.bin.idx
/common/build/test-results/test/binary/results.bin
/common/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.dto.MapperTest.xml
/common/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.model.StatusTest.xml
/common/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.model.TaskTest.xml
/common/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.service.TaskServiceTest.xml
/common/build/tmp/compileJava/previous-compilation-data.bin
/common/build/tmp/compileTestJava/previous-compilation-data.bin
/common/build/tmp/jar/MANIFEST.MF
/aws/build/resources/main/log4j2.xml
/aws/build/tmp/.cache/expanded/zip_5ba9354c655421093f8140a0e9b05d96/META-INF/services/software.amazon.awssdk.http.async.SdkAsyncHttpService
/aws/build/tmp/.cache/expanded/zip_5d78127f97f138f612d25b3dce522aa8/META-INF/services/software.amazon.awssdk.http.SdkHttpService
/aws/build/tmp/.cache/expanded/zip_6ab2466497a99583fb0a7d131e62184f/META-INF/services/com.fasterxml.jackson.core.JsonFactory
/aws/build/tmp/.cache/expanded/zip_6c0805661c89699c964dc70c402a321d/META-INF/services/javax.annotation.processing.Processor
/aws/build/tmp/.cache/expanded/zip_6c0805661c89699c964dc70c402a321d/META-INF/services/org.apache.logging.log4j.core.util.ContextDataProvider
/aws/build/tmp/.cache/expanded/zip_6c0805661c89699c964dc70c402a321d/META-INF/services/org.apache.logging.log4j.message.ThreadDumpMessage$ThreadInfoFactory
/aws/build/tmp/.cache/expanded/zip_6c0805661c89699c964dc70c402a321d/META-INF/services/org.apache.logging.log4j.spi.Provider
/aws/build/tmp/.cache/expanded/zip_52aca80c908efd5817ab9f7b2a8a750e/META-INF/services/reactor.blockhound.integration.BlockHoundIntegration
/aws/build/tmp/.cache/expanded/zip_076bd175a37be72165bc4728879bff4e/META-INF/services/javax.annotation.processing.Processor
/aws/build/tmp/.cache/expanded/zip_076bd175a37be72165bc4728879bff4e/META-INF/services/lombok.core.LombokApp
/aws/build/tmp/.cache/expanded/zip_076bd175a37be72165bc4728879bff4e/META-INF/services/lombok.core.PostCompilerTransformation
/aws/build/tmp/.cache/expanded/zip_076bd175a37be72165bc4728879bff4e/META-INF/services/lombok.core.runtimeDependencies.RuntimeDependencyInfo
/aws/build/tmp/.cache/expanded/zip_076bd175a37be72165bc4728879bff4e/META-INF/services/lombok.eclipse.EclipseAnnotationHandler
/aws/build/tmp/.cache/expanded/zip_076bd175a37be72165bc4728879bff4e/META-INF/services/lombok.eclipse.EclipseASTVisitor
/aws/build/tmp/.cache/expanded/zip_076bd175a37be72165bc4728879bff4e/META-INF/services/lombok.eclipse.handlers.EclipseSingularsRecipes$EclipseSingularizer
/aws/build/tmp/.cache/expanded/zip_076bd175a37be72165bc4728879bff4e/META-INF/services/lombok.installer.IdeLocationProvider
/aws/build/tmp/.cache/expanded/zip_076bd175a37be72165bc4728879bff4e/META-INF/services/lombok.javac.handlers.JavacSingularsRecipes$JavacSingularizer
/aws/build/tmp/.cache/expanded/zip_076bd175a37be72165bc4728879bff4e/META-INF/services/lombok.javac.JavacAnnotationHandler
/aws/build/tmp/.cache/expanded/zip_076bd175a37be72165bc4728879bff4e/META-INF/services/lombok.javac.JavacASTVisitor
/aws/build/tmp/.cache/expanded/zip_82c31c10fb84879e5059aaac6257f5e0/META-INF/services/org.apache.logging.log4j.util.PropertySource
/aws/build/tmp/.cache/expanded/zip_390d0d9a88740e43988ffd34882a58e8/META-INF/services/software.amazon.awssdk.http.SdkHttpService
/aws/build/tmp/.cache/expanded/zip_951d37d3a321470838e374aa45a8a5ce/META-INF/services/software.amazon.awssdk.thirdparty.jackson.core.JsonFactory
/aws/build/tmp/.cache/expanded/zip_a07565fbd7ebd79f228dd8abea2580b6/META-INF/services/com.fasterxml.jackson.core.ObjectCodec
/aws/build/tmp/.cache/expanded/zip_bbee3a80ed4c9258859c0f2a1f988e97/META-INF/services/com.fasterxml.jackson.databind.Module
/aws/build/tmp/.cache/expanded/zip_c1427923cf406383353ff0e203137533/META-INF/services/org.slf4j.spi.SLF4JServiceProvider
/aws/build/tmp/.cache/expanded/zip_cab717360da43ce223ce3a81c2792b36/META-INF/services/org.apache.commons.logging.LogFactory
/aws/build/tmp/compileJava/compileTransaction/stash-dir/ColdStartRoutine.class.uniqueId0
/aws/build/tmp/compileJava/compileTransaction/stash-dir/DynamoDbTestHandler.class.uniqueId1
