.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store

applicationinsights-agent-*.jar
*.log
/eclipse-store-storage-test/channel_0/channel_0_1.dat
/eclipse-store-storage-test/channel_0/transactions_0.sft
/eclipse-store-storage-test/channel_1/channel_1_1.dat
/eclipse-store-storage-test/channel_1/transactions_1.sft
/eclipse-store-storage-test/PersistenceTypeDictionary.ptd
