.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store

applicationinsights-agent-*.jar
*.log
/infrastructure/build
/assets/*.jar
/eclipse-storage-*
/assets/*
/aws/build/libs/aws-0.0.1.jar
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.lambda.BaseTaskHandlerTest.html
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.lambda.CreateTaskHandlerTest.html
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.lambda.DeleteTaskHandlerTest.html
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.lambda.RetrieveTaskHandlerTest.html
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.lambda.RootTaskHandlerTest.html
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.lambda.UpdateTaskHandlerTest.html
/aws/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.aws.MapperTest.html
/aws/build/reports/tests/test/css/base-style.css
/aws/build/reports/tests/test/css/style.css
/aws/build/reports/tests/test/js/report.js
/aws/build/reports/tests/test/packages/uk.co.frankz.hmcts.dts.aws.html
/aws/build/reports/tests/test/packages/uk.co.frankz.hmcts.dts.aws.lambda.html
/aws/build/reports/tests/test/index.html
/aws/build/test-results/test/binary/output.bin
/aws/build/test-results/test/binary/output.bin.idx
/aws/build/test-results/test/binary/results.bin
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.lambda.BaseTaskHandlerTest.xml
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.lambda.CreateTaskHandlerTest.xml
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.lambda.DeleteTaskHandlerTest.xml
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.lambda.RetrieveTaskHandlerTest.xml
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.lambda.RootTaskHandlerTest.xml
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.lambda.UpdateTaskHandlerTest.xml
/aws/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.aws.MapperTest.xml
/aws/build/tmp/compileJava/previous-compilation-data.bin
/aws/build/tmp/compileTestJava/previous-compilation-data.bin
/aws/build/tmp/jar/MANIFEST.MF
/aws/build/tmp/shadowJar/MANIFEST.MF
/common/build/libs/common.jar
/common/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.dto.MapperTest.html
/common/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.model.StatusTest.html
/common/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.model.TaskTest.html
/common/build/reports/tests/test/classes/uk.co.frankz.hmcts.dts.service.TaskServiceTest.html
/common/build/reports/tests/test/css/base-style.css
/common/build/reports/tests/test/css/style.css
/common/build/reports/tests/test/js/report.js
/common/build/reports/tests/test/packages/uk.co.frankz.hmcts.dts.dto.html
/common/build/reports/tests/test/packages/uk.co.frankz.hmcts.dts.model.html
/common/build/reports/tests/test/packages/uk.co.frankz.hmcts.dts.service.html
/common/build/reports/tests/test/index.html
/common/build/test-results/test/binary/output.bin
/common/build/test-results/test/binary/output.bin.idx
/common/build/test-results/test/binary/results.bin
/common/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.dto.MapperTest.xml
/common/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.model.StatusTest.xml
/common/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.model.TaskTest.xml
/common/build/test-results/test/TEST-uk.co.frankz.hmcts.dts.service.TaskServiceTest.xml
/common/build/tmp/compileJava/previous-compilation-data.bin
/common/build/tmp/compileTestJava/previous-compilation-data.bin
/common/build/tmp/jar/MANIFEST.MF
