server:
  port: 4000
  shutdown: "graceful"

# If you want to use a database then uncomment the `group:, readiness: and include: "db"`
# lines in the health probes and uncomment the datasource section
management:
  endpoint:
    health:
      show-details: "always"
      # group:
      #  readiness:
      #   include: "db"
  endpoints:
    web:
      base-path: /
      exposure:
        include: info # should we have more?

# If enabled, generated on the fly API Documentation and Swagger UI.
# Then use a browser with url http://localhost:4000/v3/api-docs for example.
# Swagger is available on http://localhost:4000/swagger-ui.html
springdoc:
  api-docs:
    enabled: true # for security concerns this should be set to false
  packagesToScan: uk.co.frankz.hmcts.dts.spring.controller
  #packagesToScan: uk.gov.hmcts.reform.dev.controllers
  writer-with-order-by-keys: true

spring:
  config:
    import: "optional:configtree:/mnt/secrets/test/"
  application:
    name: Dev Test

#  datasource:
#    driver-class-name: org.postgresql.Driver
#    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}${DB_OPTIONS:}
#    username: ${DB_USER_NAME}
#    password: ${DB_PASSWORD}
#    properties:
#      charSet: UTF-8
#    hikari:
#      minimumIdle: 2
#      maximumPoolSize: 10
#      idleTimeout: 10000
#      poolName: {to-be-defined}HikariCP
#      maxLifetime: 7200000
#      connectionTimeout: 30000
#  jpa:
#    properties:
#      hibernate:
#        jdbc:
#          lob:
#            # silence the 'wall-of-text' - unnecessary exception throw about blob types
#            non_contextual_creation: true
#
# Eclipse Store as a data repository
# See https://github.com/xdev-software/spring-data-eclipse-store how to configure Cloud targets like AWS s3
# See also https://docs.eclipsestore.io/manual/storage/configuration/properties.html
# The local file system is the default setting
org:
  eclipse:
    store:
      storage-directory: eclipse-storage-task

